@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  src: url('./Fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Monserrat';
  src: url('./Fonts/Montserrat.otf') format('opentype');
}